.header {
  padding: 16px;
  height: 60px;
  border-bottom: 1px solid #d2cbcb;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container {
  display: flex;
  height: calc(100% - 60px);
  .left {
    width: 40px;
    border-right: 0.5px solid #fcfcfc;
  }
  .right {
    width: 30%;
    padding: 20px;
  }
  .canvas {
    flex: 1;
    background-color: #e4e0e0;
  }
}
