.container {
  display: flex;
  height: 100%;
  .left {
    width: 40px;
    border-right: 0.5px solid #fcfcfc;
  }
  .right {
    width: 20%;
  }
  .canvas {
    flex: 1;
    background-color: #e4e0e0;
  }
}
